:root{
    --colorOrange : rgb(240,108,0);
    --colorBlue: rgb(0,75,133);
}

body{
    display: flex;
    background-color: #222;
    justify-content: center;
    align-items: center;
}

.image{
  width: 15px;
  height: 15px;   
}

#head{
    background-color: var(--colorOrange);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: xx-large;
    color: white;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

#package{
    width: 250px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#price{
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

#priceText{
    font-size: medium;
}

.feature{
    display: flex;
    justify-content:space-evenly ;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: smaller;
    margin-top: 5px;
}

.feature:nth-child(odd){
    background-color: rgb(242,242,242);
}

#submit{
    background-color: var(--colorOrange);
    width: 200px;
    border-radius: 5px;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-size: large;
}
